.footer-container{
    margin-top: 150px;
     background-color:#090979 ;
     color:white;
     padding: 10px;
     width: 100%;
    
}


.footer-area{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    padding: 20px;
   
}




@media only screen and (max-width:576px) {
    .footer-area{
        grid-template-columns: repeat(1,1fr);
    }

   
}