
.product-container{
 margin-top: 50px;
}

.product-image{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:30px;
    
}

.product-image img{
    height: 400px;
    width: 600px;
    margin-top: 150px;
    border-radius: 20px;
  margin-left: 20px;
   
}

.product-title{
    margin-top: 100px;
}

@media only screen and (max-width:576px){
    .product-image{
        grid-template-columns: repeat(1,1fr);

    }
}